@import "tailwindcss";

:root {
  --background: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);
  --foreground: linear-gradient(-45deg, #a8e48a, #1eb6d9, #f2d3f7);
}

/* src-tailwind docs: ADDING CUSTOM STYLE, CUSTOMIZING THEME */
@theme {
  --font-hero-hi: "Schibsted Grotesk", sans-serif;
  --font-rajdhan: "Rajdhani", sans-serif;
}

/* GENERAL CUSTOM CSS */

/* custom css */
.custom-grad-bg {
  background: var(--background);
}

p {
  @apply text-base tracking-[0.05rem];
}

/* NAV MENU STYLING */
.menu_style {
  @apply relative py-1 text-gray-800;
}

.menu_style::after {
  @apply content-[''] absolute left-0 bottom-0 w-0 h-[2px] bg-gray-800 transition-all duration-300;
}

.menu_style:hover::after {
  @apply w-full;
}

/* For Hero HI text styling(Decorative typography) */
.hero_hi {
  -webkit-text-stroke: 1px #161617;
  /* text-stroke: 1px black; */
}

/* animation */
/* @keyframes pulse-scale {
  0%,
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.05);
  }
}

.animate-pulse-scale {
  animation: pulse-scale 3s ease-in-out infinite;
} */
